{% extends "svc_base.html" %}
{% block title %}AIPMO 资源管理{% endblock %}
{% block cur_page_name %}<li>资源页</li>{% endblock %}
{% block page_name_nav %}<h4 class="content-title pull-left">资源管理</h4>{% endblock %}
{% block tab_name %}<h4><i class="fa fa-table"></i>资源详细信息</h4>{% endblock %}
<!-- Replace the BODY of template svc_base.html -->
{% block tab_model %}
<table id="datatable1" cellpadding="0"
       cellspacing="0" border="0"
       class="datatable table table-striped table-bordered table-hover">
	<thead>
		<tr>
		  <th>资源名称</th>
		  <th>资源归属</th>
		  <th class="hidden-xs">状态</th>
		  <th>创建日期</th>
		  <th class="hidden-xs">备注信息</th>
		</tr>
	</thead>
	<tbody>
		{% for res in resource %}
		<tr class="gradeA">
		  <td>{{ res.apm_resource_name }}</td>
		  <td>{{ res.apm_user.apm_user_name }}</td>
		  <td class="hidden-xs">
			  {% if res.status == '1' %}
			  Valid
			  {% else %}
			  Invalid
			  {% endif %}
		  </td>
		  <td>{{ res.create_date }}</td>
		  <td class="hidden-xs">{{ res.remark }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}