{% extends "svc_base.html" %}
{% block title %}AIPMO 服务管理{% endblock %}
{% block cur_page_name %}<li>服务页</li>{% endblock %}
{% block page_name_nav %}<h4 class="content-title pull-left">服务管理</h4>{% endblock %}
{% block tab_name %}<h4><i class="fa fa-table"></i>服务详细信息</h4>{% endblock %}
<!-- Replace the BODY of template svc_base.html -->
{% block tab_model %}
<table id="datatable1" cellpadding="0"
       cellspacing="0" border="0"
       class="datatable table table-striped table-bordered table-hover">
	<thead>
		<tr>
		  <th>服务名称</th>
		  <th>服务归属</th>
		  <th class="hidden-xs">状态</th>
		  <th>创建日期</th>
		  <th class="hidden-xs">备注信息</th>
		</tr>
	</thead>
	<tbody>
		{% for svc in service %}
		<tr class="gradeA">
			<td><a href = "{{ url_for('svc.add_svc_instance',
							  		   service_id = svc.apm_service_id,
							  		   service_type = svc.apm_service_type) }}">
				{{ svc.apm_service_name }}</a>
			</td>
		  <td>{{ svc.apm_user.apm_user_name }}</td>
		  <td class="hidden-xs">
			  {% if svc.status == '1' %}
			  Valid
			  {% else %}
			  Invalid
			  {% endif %}
		  </td>
		  <td>{{ svc.create_date }}</td>
		  <td class="hidden-xs">{{ svc.remark }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}